name: Setup test
on:
  pull_request:
  push:
    branches:
      - "main"
jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2 
      
      - name: use the action
        uses: ./
        with:
          version: "latest"

      - name: show outputs
        run: |
          tfcmt --version

  test-darwin:
    runs-on: macos-11
    steps:
      - name: Checkout
        uses: actions/checkout@v2 
      
      - name: use the action
        uses: ./
        with:
          version: "latest"

      - name: show outputs
        run: |
          tfcmt --version
